<template>
    <table id="requisitions" class="display nowrap table  table-striped "
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>LPO Number</th>
            <th>Contractor</th>
            <th>Items</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <template>
            <tr v-for="(contractor,index) in lpos">
                <td>{{ contractor.date }}</td>
                <td>{{ contractor.lponumber }}</td>
                <td>{{ contractor.contractors.name }}</td>
                <td></td>
                <td>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark d-none d-lg-block m-l-15" data-toggle="modal"
                                    data-target=".bs-edit-modal">
                                <i class="fa fa-pencil"></i>
                            </button>

                            <!--<button title="Delete Requisition" @click.prevent="deleteRequisition(supplied.id,index)"-->
                                    <!--class="btn btn-danger d-none d-lg-block m-l-15">-->
                                <!--<i class="fa fa-trash" v-if="!deletingLpo[index]"></i>-->
                                <!--<i class="fa fa-spin fa-spinner" v-else></i>-->
                            <!--</button>-->
                            <a :href="'/printlpo/'+contractor.id" title="Print LPO"
                               class="btn btn-success d-none d-lg-block m-l-15">
                                <i class="fa fa-print"></i>
                            </a>
                        </div>

                    </div>

                </td>
            </tr>

        </template>

        </tbody>

    </table>
</template>

<script>
    export default {
        name: "index",
        props: ['lpos'],
        data() {
            return {
                deletingLpo: []
            }
        },
    }
</script>

<style scoped>

</style>
