<template>
    <form >
        <!--Label: Inventory Name, Attributes: name-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.name }">
            <label for="name" class="control-label">Inventory Name</label>
            <div>
                <input type="text" class="form-control" id="name"
                       v-model="name"
                       autocomplete="off">
                <div class="help-block" v-if="errors.name">
                    <strong>{{ errors.name.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="addinventory()">
                Add Inventory
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': savingInventory}"></i>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "create",
        data() {
            return {
                savingInventory: false,
                errors: '',
                name: '',
            }
        },
        methods: {
            addinventory() {
                axios.post('/inventory', this.$data).then(response => {
                    Bus.$emit('addedInventory', response.data);
                    this.errors = '';
                    this.name = '';
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>
