<template>
    <form>
        <!--Label: Inventory, Attributes: inventory-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.inventory }">
            <label for="inventory" class="control-label">Inventory</label>
            <div>
                <select name="inventory" id="inventory" v-model="inventory" class="form-control">
                    <option v-for="inv in inventories" :value="inv.id">{{ inv.name }}</option>
                </select>

                <div class="help-block" v-if="errors.inventory">
                    <strong>{{ errors.inventory.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Quantity, Attributes: quantity-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.quantity }">
            <label for="quantity" class="control-label">Quantity</label>
            <div>
                <input type="text" class="form-control" id="quantity"
                       v-model="quantity"
                       autocomplete="off">
                <div class="help-block" v-if="errors.quantity">
                    <strong>{{ errors.quantity.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="receiveInventory()">
                Receive Inventory
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': receivingInventory}"></i>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "receive",
        props: {
            inventories: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                errors: '',
                inventory: '',
                quantity: '',
                receivingInventory: false,
            }
        },

        methods: {
            receiveInventory() {
                this.receivingInventory = true;
                axios.post('/receive_inventory', this.$data).then(response => {
                    Bus.$emit('receivedInventory', response.data);
                    this.receivingInventory = false;
                    this.inventory = '';
                    this.quantity = ''
                }).catch(error => {
                    this.receivingInventory = false;
                    this.errors = error.response.data.errors;
                })
            }
        },
    }
</script>

<style scoped>

</style>
