<template>
    <table id="requisitions" class="display nowrap table  table-striped "
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Requested By</th>
            <th>Items Requested</th>
            <th>L.P.O #</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <template >
                <tr v-for="(items,index) in req">
                    <td>{{ items.date}}</td>
                    <td>{{ items.requestedby }}</td>
                    <td>{{ items.items.length }}</td>
                    <td></td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-dark d-none d-lg-block m-l-15" data-toggle="modal"
                                        data-target=".bs-edit-modal">
                                    <i class="fa fa-pencil"></i>
                                </button>

                                <button title="Delete Requisition" @click.prevent="deleteRequisition(supplied.id,index)"
                                        class="btn btn-danger d-none d-lg-block m-l-15">
                                    <i class="fa fa-trash" v-if="!deletingRequisition[index]"></i>
                                    <i class="fa fa-spin fa-spinner" v-else></i>
                                </button>
                                <a :href="'/printrequisition/'+items.id" title="Print"
                                        class="btn btn-success d-none d-lg-block m-l-15">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>

                        </div>

                    </td>
                </tr>

        </template>

        </tbody>

    </table>
</template>

<script>
    export default {
        name: "index",
        props: {
            requisitions: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                deletingRequisition: [],
                req: this.requisitions

            }
        },
        methods: {
            deleteRequisition() {

            }
        },
    }
</script>

<style scoped>

</style>
