<template>
    <div>
        <form>
            <!--Label: Date, Attributes: date-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.date }">
                <label for="date" class="control-label">Date</label>
                <div>
                    <input type="text" class="form-control" id="date"
                           v-model="date"
                           autocomplete="off">
                    <div class="help-block" v-if="errors.date">
                        <strong>{{ errors.date.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: From, Attributes: from-->
            <div class="col-md-6 form-group" :class="{ 'has-error' : errors.from }">
                <label for="from" class="control-label">Supplier</label>
                <div>
                    <select class="suppliers col-md-12" name="from" id="from" v-model="from">
                        <option v-for="supplier in suppliers" :value="supplier.id">{{ supplier.name }}</option>
                    </select>
                    <div class="help-block" v-if="errors.from">
                        <strong>{{ errors.from.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: LPO Number, Attributes: LPO-->
            <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.LPO }">
                <label for="LPO" class="control-label">LPO Number
                    <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': lponumbersearch}"></i>

                </label>
                <div>
                    <select name="LPO" id="LPO" :class="{ 'form-control-danger' : errors.LPO }" v-model="LPO"
                            class="form-control" :disabled="lponumbersearch" @change="getItems">
                        <option value="null" disabled>Select LPO</option>
                        <option :value="lpon.id" v-for="lpon in lpos">{{ lpon.lponumber}}</option>
                    </select>

                    <div class="form-control-feedback" v-if="errors.LPO">
                        <strong>{{ errors.LPO.toString() }}</strong>
                    </div>
                </div>
            </div>
            <table class="tabler">

                <tbody>
                <tr v-for="(ite,index) in itemse">
                    <td scope="row">{{ ite.items.name   }}</td>
                    <td scope="row">{{ ite.items.unit   }}</td>
                    <td scope="row">{{ ite.quantity }}</td>
                    <td scope="row">
                        <!--Label: Received, Attributes: received-->
                        <div class="col-md-6 form-group" :class="{ 'has-danger' : errors.received }">
                            <div>
                                <input type="text" class="form-control" id="received"
                                       :class="{ 'form-control-danger' : errors.received }"
                                       v-model="itemse[index].received"
                                       autocomplete="off">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" @click.prevent="receiveItem()">
                    Receive Item
                    <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': receivingitem}"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import * as select2 from '../../../../public/assets/node_modules/select2/dist/js/select2.full.min.js';
    import * as moment from 'moment';
    export default {
        name: "receive",
        select2,
        props: ['items', 'suppliers'],
        data() {
            return {
                errors: '',
                date: '',
                item: '',
                quantity: '',
                unit: '',
                LPO: '',
                receivesd: '',
                received: [{
                    quantity: '',
                    item: '',
                    supplier: ''
                }],
                lponumbersearch: false,
                lpos: [],
                from: '',
                itemse: [],
                receivingitem: false
            }
        },
        mounted() {
            let Self = this;
            let select = $('.suppliers').select2();
            let dates = $('#date').datepicker({
                'format': 'mm/dd/yyyy'
            });

            $('#date').on('changeDate', function (e) {
                Self.date = moment(e.date).format('YYYY-MM-DD');
            });
            let item = $('#item').select2();
            select.on('change', function () {
                Self.from = this.value;
                Self.getLPO(this.value);
            });
            item.on('change', function () {
                Self.item = this.value;
            });
        },
        methods: {
            receiveItem() {
                this.receivingitem = true;
                this.itemse = _.filter(this.itemse, function (o) {
                    return o.received > 0;
                });
                axios.post('/receive', this.$data).then(response => {
                    this.receivingitem = false;
                    this.item = '';
                    this.date = '';
                    this.quantity = '';
                    this.from = '';
                    Bus.$emit('ReceivedItem', response.data);
                }).catch(error => {
                    this.receivingitem = false;
                    this.errors = error.response.data.errors;
                });
            },
            getLPO(value) {
                this.lponumbersearch = true;
                this.lpos = [];
                axios.get('/api/ContractorLpos/' + value).then(response => {
                    this.lponumbersearch = false;
                    this.lpos = response.data;
                }).catch(error => {
                    this.lponumbersearch = false;
                    console.log(error.response.data.errors);
                });
            },
            getItems() {
                axios.get('/api/lpoItems/' + this.LPO).then(response => {
                    this.itemse = response.data;
                }).catch();
            },

        },
    }
</script>

<style scoped>

</style>
