<template>
    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Item Issued</th>
            <th>Quantity</th>
            <th>Issued To</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Date</th>
            <th>Item Issued</th>
            <th>Quantity</th>
            <th>Issued To</th>
        </tr>
        </tfoot>
        <tbody>
        <tr v-for="issue in items">
            <td>{{ issue.date }}</td>
            <td>{{ issue.items.name}}</td>
            <td>{{ issue.quantity}}</td>
            <td>{{ issue.issuedto}}</td>
        </tr>
        </tbody>
    </table>

</template>

<script>
    export default {
        name: "index",
        props: {
            issues: {
                type: Array,
                default: []
            },
        },
        created() {
            Bus.$on('issuedItem', data => {
                this.items.push(data);
            });
        },
        data() {
            return {
                items: this.issues
            }
        },
    }
</script>

<style scoped>

</style>
