<template>
    <form>
        <!--Label: Group Name, Attributes: group-->
        <div class="col-md-12 form-group" :class="{ 'has-error' : errors.group }">
            <label for="group" class="control-label">Group Name</label>
            <div>
                <input type="text" class="form-control" id="group"
                       v-model="group"
                       autocomplete="off">
                <div class="help-block  text-danger" v-if="errors.group">
                    <strong>{{ errors.group.toString() }}</strong>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-success" @click.prevent="addgroup()">
                Change
                <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': savingGroup}"></i>
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "edit",
        props: ['groups'],

        data() {
            return {
                errors: '',
                group: this.groups,
                savingGroup: false
            }
        },
    }
</script>

<style scoped>

</style>
